NANSEN_API_KEY=
ANTHROPIC_API_KEY=
WALLET_ADDRESS=0xC67d94504696960bA0f2e7C3FeE703950734c00A
SOLANA_WALLET_ADDRESS=
FACILITATOR_URL=https://api.developer.coinbase.com/rpc/v1/base/facilitator
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
NEXT_PUBLIC_HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
BNB_RPC_URL=https://bsc-dataseed.binance.org/
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=placeholder
NEXT_PUBLIC_JPYC_CONTRACT=0x431D5dfF03120AFA4bDf332c61A6e1766eF37BDB
NEXT_PUBLIC_USDT_BNB_CONTRACT=0x55d398326f99059fF775485246999027B3197955
